.lines-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
  box-sizing: border-box;
  width: 100%;
}


.line-buttons {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  padding: 2rem;
}

.line-button {
  padding: 0.5rem 0.5rem;
  border-radius: 8px;
  border: none;
  width: 250px;
  font-size: large;
  color: white;
}

.line-button.gold { background-color: gold; color: black; }
.line-button.red { background-color: red; }
.line-button.green { background-color: green; }
.line-button.blue { background-color: blue; }

.line-button.active {
  font-weight: bold;
  outline: 2px solid #000;
}

.train-data {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.curr-line {
  font-weight: bold;
  font-size: 4rem;
  border-bottom: 1px solid black;
  padding: 2rem;

}

.navbar {
  grid-column: 1;
}

.train-list {
  grid-column: 2;
  justify-self: center;
}

.train-list-column {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.train-station-list {
  display: flex;
  flex-direction: row;
}
