/* LinesPage.css */
.container {
  padding: 1rem;
  max-width: 800px;
  margin: 0 auto;
}

.line-buttons {
  margin-bottom: 1rem;
}

.line-button {
  margin-right: 0.5rem;
  font-weight: normal;
}

.line-button.active {
  font-weight: bold;
}

.home-btn {
  font-size: inherit;      
  font-weight: inherit;    
  color: black;          
  text-decoration: none;
  cursor: pointer; 
}

.home-btn:hover {
  text-decoration: underline;
}