.filter-buttons button {
  margin: 4px;
  padding: 6px 3rem;
  border-radius: 6px;
  border: 1px solid #2d2d2d;
  background-color: #ffffff;
  margin: 2rem;
  font: 25px sans-serif;
}

.filter-buttons button.active {
  background-color: #ffffff;
  font-weight: bold;
}


